@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 4rem;
        line-height: 4.5rem;
    }
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
}

#hero {
    background: url('../../public/images/background_hero.png') no-repeat;
    background-size: cover;
}

.container {
    max-width: 1264px;
    margin: 0 auto;
    padding: 0 1rem;
}

.whitespace {
    margin-top: 2rem;
}

#scroll-text {
    transition: 0.5s ease-in-out;
}

.bg-primary {
    background: #001A2E;
}

.bg-secondary {
    background: #07233B;
}

.active {
    color: white;
}

p a {
    text-decoration: underline;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    transition: transform 0.3s ease;
}

.hamburger-line {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger-btn.active > .hamburger-line:first-child {
    transform: rotate(45deg) translate(7px, 6px);
}

.hamburger-btn.active > .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger-btn.active > .hamburger-line:last-child {
    transform: rotate(-45deg) translate(6px, -6px);
}